html, body {
    margin:0;
    padding:0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Login View */

.login-panel {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 2em;
    tabindex: 0;
}

#login {
    grid-column-start: 2;
    justify-self: end;
}

/* Conversation View */
#conversations-view {
    height: 95%;
    width: 95%;
}

#conversations {
    margin: 0;
    padding: 0.5em;
    list-style: none;
}

.message-header {
    text-align: center;
}

.header {
    height: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.message {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    margin-bottom: 0.2em;
    cursor: pointer;
}

#conversations li:hover {
    background: lightgray;
}

#conversations .message {
    display: block;
}

#conversations .message-left div.message-content:after {
    margin-left: 0;
}

.message img {
    width: 120px;
    padding-top: .5em;
    align-self:flex-end;
}

.message-right div.message-container {
    align-self: flex-end;
}

.message-right i.account-icon {
    padding-left: 10px;
    order: 99;
}

.message-right div.message-content:after {
    right: 0;
    border-left-color: slategray;
    border-right: 0;
    margin-right: -35px;
}

.message-left div.message-container {
    align-self: flex-start;
}

.message-left div.message-content:after {
    left: 0;
    border-right-color: slategray;
    border-left: 0;
    margin-left: -35px;
}

.message-container {
    display: flex;
    min-width: 300px;
    min-height: 100px;
}


.message-content {
    position: relative;
    padding: 10px;
    background: slategray;
    flex-grow: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: .7em;
}

.message-content:after {
    content: '';
    position: absolute;
    top: 4em;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-top: 0;
    margin-top: -17.5px;
}

.message-images {
    display:flex;
    flex-direction:column;
}

.text {
    font-size: .8em;
    padding: 5px 0 5px 0;
}

.date {
    font-size: .7em;
    color: gray;
    padding: 15px 0 5px 0;
    text-align: center;
}

.account-icon {
    font-size: 40px;
    margin-right: 10px;
    align-items: start !important;
    color: deeppink;
}

.addconversation {
    font-size: 1.5em;
    padding: 8px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    background: royalblue;
    border-radius: 1em;
    margin: 1.1em;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
}

.addconversation:hover {
    background: blue;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

.addconversation:active {
    bottom: -1px;
    box-shadow: none;
}

/* Message View */
#messages-view {
    display: none;
    flex-direction: column;
    height: 95%;
    width: 95%;
}

#messages {
    padding: 0;
    margin: 8px;
    list-style: none;
    flex-grow: 1;
    overflow-y: auto;
}

.input-container {
    display: flex;
    min-height: 30px;
    padding: 0 8px;
}

.input-container input {
    flex-grow: 1;
}

.input-container input[type=file] {
    display: none;
}

#to {
    flex-grow: 1;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border: 1px outset buttonface;
}


#to span:not(:last-child):after {
    padding-right: 4px;
    content: ',';
}

#thumbnails img {
    width: 100px;
    margin: 5px;
}


/* Message Header */
.addperson {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 1px 6px;
    background-color: buttonface;
    border: 1px outset buttonface;
    border-image: initial;
}

.addperson:hover .addperson-dropdown {
    display: initial;
}

.addperson-dropdown {
    display:none;
    position: absolute;

    list-style: none;
    background-color: #f9f9f9;
    min-width: 160px;
    left: -160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin:0;
    z-index: 1;
}

.addperson-dropdown li {
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

i.material-icons {
    display: flex;
    align-items: center;
    user-select: none;
}

#add-img {
    font-size: 1.8em;
    padding-right: 3px;
    color: slategray;
    cursor: pointer;
}